body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  .backButtonContainer{
    display: inline-block;
    /* margin-left: 2px; */
    margin: 0 0 2px 4px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .backButtonContainer:hover{
    background-color: #005b7a;
  }

  .startBtn{
    /* display: none; */
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

  }
  .startBtn:hover{
    background-color: #2e7d3d;
  }

  .proceedButtonStyle{
    padding: 5px 10px;
    font-size: 14px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

  }

  .container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .bag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
  }
  
  .bag {
    width: 120px;
    height: 120px;
    background-color: gray;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .selected-bag-info {
    margin-top: 20px;
    font-size: 18px;
  }
  
  .restart-button {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .restart-button:hover {
    background-color: #0056b3;
  }
  
  .profileContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }